<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787369090166-aorqvk4fiosv8t3k5t2cvu66hql6i2s1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787369090166-aorqvk4fiosv8t3k5t2cvu66hql6i2s1</string>
	<key>API_KEY</key>
	<string>AIzaSyCIP-CeKmT01FitBVBlvUXBg0_cJnRVnd0</string>
	<key>GCM_SENDER_ID</key>
	<string>787369090166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SdsDreamXiOS</string>
	<key>PROJECT_ID</key>
	<string>sdsdream-6732a</string>
	<key>STORAGE_BUCKET</key>
	<string>sdsdream-6732a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787369090166:ios:0011bd59b12dc408719357</string>
	<key>DATABASE_URL</key>
	<string>https://sdsdream-6732a.firebaseio.com</string>
</dict>
</plist>